/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #15292B;
}

/* Input Container Styles */
#inputCont {
    background-color: #333;
    padding: 20px;
    text-align: center;
    width: 100%;

}

#search {
    width: 60%;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}


#searchButton {
    width: 60px;
    height: 30px;
    border: none;
    margin: 7px;
    border-radius: 3px;

}

/* Search Result and Watchlist Styles */
/* .content-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
} */
h2 {
    border-left: gold solid;

}

#columb {
    display: flex;
    flex-wrap: wrap;

}

#searchResult {
    width: 70%;
    height: auto;
    margin: 7px;
    padding: 10px;
    color: aliceblue;


}

#myWatchlist {
    margin: 7px;
    padding: 10px;
    color: aliceblue;


}

#add {
    margin: 10px;
    background-color: gold;
    border: none;
    width: 30px;

}

#poster {
    padding: 7px;
    padding: 10px;
    box-shadow: -10px -10px 20px rgba(236, 234, 221, 0.5);
}

td {
    color: aquamarine;
}

.star {
    color: gold;
    font-size: 24px;
}

#date-lenght {
    font-size: small;
    font-style: italic;
}

#addToList {
    margin-top: 40px;
    border-radius: 4px;
    height: 25px;
    border: none;
    background-color: rgb(243, 70, 70);
    color: rgb(255, 255, 255);

}

#removeButton {
    margin-left: 5px;
    border-radius: 4px;
    border: none;
    background-color: rgb(243, 70, 70);
    color: rgb(255, 255, 255);
}